$main-color: #E8E8E4;
$second-color: #D8E2DC;
$third-color: #ECE4DB;
$forth-color: #3d5a80;
$box-shadow:  0 .5rem 1.5rem rgba(0,0,0,.1);
$sidebar-shadow:  0 .5rem 1.5rem rgba(0,0,0,.4);

.breadcrumb-section{
    margin-top: 30px;
}