$main-color: #E8E8E4;
$second-color: #D8E2DC;
$third-color: #ECE4DB;
$forth-color: #3d5a80;
$box-shadow:  0 .5rem 1.5rem rgba(0,0,0,.1);
$sidebar-shadow:  0 .5rem 1.5rem rgba(0,0,0,.4);

.navbar{
    background-color: $second-color;
    box-shadow: $box-shadow;
    width: 100%;
    height: 80px;
        .bars{
            margin-left: 5%;
        }
        .navbar-brand{
            margin-left: 5%;
        }
        .form-inline{
            display: flex;
            flex-direction: flex-end;
            margin-left: 63%;
        }
}