$main-color: #E8E8E4;
$second-color: #D8E2DC;
$third-color: #ECE4DB;
$forth-color: #3d5a80;
$box-shadow:  0 .5rem 1.5rem rgba(0,0,0,.1);
$sidebar-shadow:  0 .5rem 1.5rem rgba(0,0,0,.1);

.news-page{
    width: 100%;
    overflow-x: hidden;
    text-transform: uppercase;
    .catalogue{
        margin: 10px 10px 10px 6%;
        .login-button{
            background-color: $forth-color;
            color: $main-color;
            margin-left: 5px;
            outline: none;
            box-shadow: none;
            border: none;
            position: fixed;
            right: 2%;
            bottom: 3%;
            &:hover{
                transform: translateY(-5px);
            }
        }
        .body-card{
            margin: 3px;
            text-align: center;
            max-width: 250px;
            max-height: 400px;
            &:hover{
                .card-img{
                    transform: scale(1.05);
                }
                .card-title{
                    text-decoration-line: underline;
                }
            }
            .card-img{
                height: 70%;
                width: 70%;
                border: solid white;
                border-radius: 50%;
                transform: scale(1);
                transition: 0.5s ease-in-out;
            }
            .card-title{
                margin-top: 1rem;
            }
            .card-desc{
                font-size: 13px;
            }
        }
    }
}