.headline-news{
    text-transform: uppercase;
    margin: 95px 50px 25px 50px;
    .img{
        height: 200px;
        width: 1200px;
    }
    h3{
        color: black;
    }
    p{
        color: black;
    }
}